.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #d9d9d9;
    padding: 20px 30px;
    border-radius: 15px;
    width: 600px;
    margin: 50px auto;
}

.contato {
    width: 45%;
}

.contato h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.contato p {
    font-size: 14px;
    margin: 5px 0;
}

.social {
    margin-top: 20px;
}

.social h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.social a {
    margin-right: 10px;
    font-size: 24px;
    text-decoration: none;
    color: red;
}

.formulario {
    width: 50%;
}

.formulario h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.formulario input,
.formulario textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #999;
    font-size: 14px;
}

.formulario textarea {
    height: 60px;
    resize: none;
}

.formulario button {
    background: red;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
}

.formulario button:hover {
    background: darkred;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #000;
    color: #fff;
}

header {
    background: #000;
    display: flex;
    padding: 15px 40px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.lado-esquerdo {
    display: flex;
    gap: 10px;
    width: 25%;
}

header .lado-esquerdo a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;

}

.logo {
    height: 70px;
    display: flex;
}

.carrinho {
    height: 40px;
    cursor: pointer;
    display: flex;
    width: 25%;
    justify-content: end;
}

.barra-de-buscar-container {
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px 0;
}

.barra-de-buscar {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 30px;
    overflow: hidden;
    width: 45%;
    justify-self: center;
    align-self: center;
}

.barra-de-buscar input {
    flex: 1;
    border: none;
    outline: none;
    padding: 12px 20px;
    font-size: 16px;
    color: #333;
}

.barra-de-buscar button {
    background: #666;
    border: none;
    padding: 12px 18px;
    cursor: pointer;
}

.barra-de-buscar button img {
    width: 22px;
    height: 22px;
}

nav {
    background: #c00;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 12px 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

nav span {
    color: #fff;
    font-size: 18px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #d9d9d9;
    padding: 30px 50px;
    border-radius: 15px;
    width: 800px;
    margin: 50px auto;
}

.contato {
    width: 65%;
    color: #000;
}

.contato h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.contato p {
    font-size: 14px;
    margin: 8px 0;
    line-height: 1.3em;
}

.social {
    margin-top: 20px;
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: row;
}

.formulario {
    width: 50%;
    color: #000;
}

.formulario h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.formulario input,
.formulario textarea {
    width: 100%;
    padding: 6px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #999;
    font-size: 14px;
}

.formulario textarea {
    height: 60px;
    resize: none;
}

.formulario button {
    background: red;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
}

.formulario button:hover {
    background: darkred;
}

footer {
    margin-top: 40px;
}

.footer-top {
    background: #d80000;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    font-weight: bold;
    text-align: center;
}

.footer-main {
    background: #000;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    padding: 40px 80px;
    align-items: flex-start;
}

.footer-logo img {
    max-width: 180px;
    margin-bottom: 15px;
}

.footer-logo p {
    font-size: 14px;
    color: #ddd;
}

.footer-section h3 {
    margin-bottom: 15px;
    font-size: 18px;
}

.footer-section ul {
    list-style: none;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    text-decoration: none;
    color: #ddd;
    font-size: 14px;
}

.footer-section ul li a:hover {
    color: #fff;
}

.footer-contact p {
    margin-bottom: 8px;
    font-size: 14px;
}

.footer-social {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.footer-social img {
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.footer-payment img {
    width: 40px;
    margin: 5px;
}

.footer-payment {
    text-align: center;
}